@keyframes fade-out-status {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinking-dots {
  0% {
    background-color: rgba($white-light, 1);
    box-shadow: 12px 0 0 0 rgba($white-light, 0.2),
      24px 0 0 0 rgba($white-light, 0.2);
  }

  25% {
    background-color: rgba($white-light, 0.4);
    box-shadow: 12px 0 0 0 rgba($white-light, 2),
      24px 0 0 0 rgba($white-light, 0.2);
  }

  75% {
    background-color: rgba($white-light, 0.4);
    box-shadow: 12px 0 0 0 rgba($white-light, 0.2),
      24px 0 0 0 rgba($white-light, 1);
  }

  100% {
    background-color: rgba($white-light, 1);
    box-shadow: 12px 0 0 0 rgba($white-light, 0.2),
      24px 0 0 0 rgba($white-light, 0.2);
  }
}

@keyframes blinking-scroll-button {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.build-page {
  .build-trace-container {
    position: relative;
  }

  .build-trace {
    background: $black;
    color: $gray-darkest;
    white-space: pre;
    overflow-x: auto;
    font-size: 12px;
    border-radius: 0;
    border: 0;
    padding: $grid-size;

    .bash {
      display: block;
    }
  }

  .top-bar {
    height: 35px;
    background: $gray-light;
    border: 1px solid $border-color;
    color: $gl-text-color;
    position: sticky;
    position: -webkit-sticky;
    top: $header-height;
    padding: $grid-size;

    &.affix {
      top: $header-height;

      // with sidebar
      &.sidebar-expanded {
        right: 306px;
        left: 16px;
      }

      // without sidebar
      &.sidebar-collapsed {
        right: 16px;
        left: 16px;
      }
    }

    &.affix-top {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
    }

    .truncated-info {
      .truncated-info-size {
        margin: 0 5px;
      }

      .raw-link {
        color: $gl-text-color;
        margin-left: 5px;
        text-decoration: underline;
      }
    }

    .controllers {
      display: flex;
      font-size: 15px;
      justify-content: center;
      align-items: center;

      svg {
        width: 15px;
        height: 15px;
        display: block;
        fill: $gl-text-color;
      }

      .controllers-buttons {
        color: $gl-text-color;
        margin: 0 $grid-size;

        &:last-child {
          margin-right: 0;
        }
      }

      .btn-scroll.animate {
        .first-triangle {
          animation: blinking-scroll-button 1s ease infinite;
          animation-delay: 0.3s;
        }

        .second-triangle {
          animation: blinking-scroll-button 1s ease infinite;
          animation-delay: 0.2s;
        }

        .third-triangle {
          animation: blinking-scroll-button 1s ease infinite;
        }

        &:disabled {
          opacity: 1;
        }
      }

      .btn-refresh {
        border-radius: 4px;
      }

      .btn-scroll:disabled,
      .btn-refresh:disabled {
        opacity: 0.35;
        cursor: not-allowed;
      }
    }
  }

  .environment-information {
    border: 1px solid $border-color;
    padding: 8px $gl-padding 12px;
    border-radius: $border-radius-default;

    svg {
      position: relative;
      top: 5px;
      margin-right: 5px;
      width: 22px;
      height: 22px;
    }
  }

  .build-loader-animation {
    position: relative;
    width: 6px;
    height: 6px;
    margin: auto auto 12px 2px;
    border-radius: 50%;
    animation: blinking-dots 1s linear infinite;
  }
}

.with-performance-bar .build-page {
  .top-bar {
    top: $header-height + $performance-bar-height;

    &.affix {
      top: $header-height + $performance-bar-height;
    }
  }
}

.build-header {
  .ci-header-container,
  .header-action-buttons {
    display: flex;
  }

  .ci-header-container {
    min-height: 54px;
  }

  .page-content-header {
    padding: 10px 0 9px;
  }

  .header-action-buttons {
    @include media-breakpoint-down(xs) {
      .sidebar-toggle-btn {
        margin-top: 0;
        margin-left: 10px;
        max-height: 34px;
      }
    }
  }

  .header-content {
    a {
      color: $gl-text-color;

      &:hover {
        color: $gl-link-color;
        text-decoration: none;
      }
    }
  }

  code {
    color: $code-color;
  }

  .avatar {
    float: none;
    margin-right: 2px;
    margin-left: 2px;
  }
}

.right-sidebar.build-sidebar {
  padding: 0;

  &.right-sidebar-collapsed {
    display: none;
  }

  .sidebar-container {
    width: calc(100% + 100px);
    padding-right: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .blocks-container {
    padding: 0 $gl-padding;
    width: 289px;
  }

  .block {
    width: 100%;

    &:last-child {
      border-bottom: 1px solid $border-gray-normal;
    }

    &.coverage {
      padding: 0 16px 11px;
    }
  }

  .block-last {
    padding: 16px 0;
  }

  .trigger-build-variables {
    margin: 0;
    overflow-x: auto;
    -ms-overflow-style: scrollbar;
    -webkit-overflow-scrolling: touch;
  }

  .trigger-build-variable {
    font-weight: $gl-font-weight-normal;
    color: $code-color;
  }

  .trigger-build-value {
    padding: 2px 4px;
    color: $black;
    background-color: $white-light;
  }

  .badge.badge-pill {
    margin-left: 2px;
  }

  .retry-link {
    display: none;

    .btn-inverted-secondary {
      color: $blue-500;

      &:hover {
        color: $white-light;
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;

      .btn {
        i {
          margin-left: 5px;
        }
      }
    }
  }

  .stage-item {
    cursor: pointer;

    &:hover {
      color: $gl-text-color;
    }
  }

  .build-dropdown {
    margin: $gl-padding 0;
    padding: 0;

    .dropdown-menu-toggle {
      margin-top: #{$gl-padding / 2};
    }

    svg {
      position: relative;
      top: 3px;
      margin-right: 3px;
      width: 14px;
      height: 14px;
    }
  }

  .builds-container {
    background-color: $white-light;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    max-height: 300px;
    width: 289px;
    overflow: auto;

    svg {
      position: relative;
      top: 3px;
      margin-right: 3px;
      height: 14px;
      width: 14px;
    }

    a {
      display: block;
      padding: $gl-padding 10px $gl-padding 40px;
      width: 270px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $gl-text-color;
      }
    }

    .build-job {
      position: relative;

      .icon-arrow-right {
        position: absolute;
        left: 15px;
        top: 20px;
        display: none;
      }

      &.active {
        font-weight: $gl-font-weight-bold;

        .icon-arrow-right {
          display: block;
        }
      }

      &.retried {
        background-color: $gray-lightest;
      }

      &:hover {
        background-color: $dropdown-item-hover-bg;
      }

      .icon-retry {
        margin-left: 3px;
      }
    }
  }

  .link-commit {
    color: $blue-600;
  }
}

.build-sidebar {
  .container-fluid.container-limited {
    max-width: 100%;
  }

  .content-wrapper {
    padding-bottom: 6px;
  }
}

.build-detail-row {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.build-light-text {
  color: $gl-text-color-secondary;
  word-wrap: break-word;
}

.build-gutter-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -17px;
}

@include media-breakpoint-down(sm) {
  .top-bar {
    .truncated-info {
      white-space: nowrap;
      overflow: hidden;
      max-width: 220px;
      text-overflow: ellipsis;
    }
  }
}
